In [17]:
import sqlite3
conn = sqlite3.connect('James.db')
c = conn.cursor()

In [18]:
import pandas as pd
import os
os.listdir()
df = pd.read_csv('LoanStats3a.csv')
df.shape

C:\Users\Maria\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(42542, 144)

In [22]:
df.head()
df[["grade","term"]]

      grade        term
0         B   36 months
1         C   60 months
2         C   36 months
3         C   36 months
4         B   60 months
...     ...         ...
42537     A   36 months
42538   NaN         NaN
42539   NaN         NaN
42540   NaN         NaN
42541   NaN         NaN

[42542 rows x 2 columns]

In [20]:
df.to_sql("Njau",conn)

# Quering the database
SELECT column name
FROM  name of the table
GROUPBY # helps do groupby
LIMIT - specifies how many rows to return

In [23]:
conn.execute("select grade,term from Njau limit 5").fetchall()

[('B', ' 36 months'),
 ('C', ' 60 months'),
 ('C', ' 36 months'),
 ('C', ' 36 months'),
 ('B', ' 60 months')]

In [25]:
tables  = conn.execute("select * from sqlite_master").fetchall();print(len(tables))

2

In [40]:
import numpy as np
j = pd.DataFrame(np.array([["John","james","jim","jane"],
                          [23,78,11,10],
                          ["M","F","F","M"]]).T,columns = ["Names","Age","Gender"])
j.to_sql("Names1",conn)
j

   Names Age Gender
0   John  23      M
1  james  78      F
2    jim  11      F
3   jane  10      M

In [41]:
conn.execute("select * from sqlite_master").fetchall()

[('table',
  'Njau',
  'Njau',
  2,
  'CREATE TABLE "Njau" (\n"index" INTEGER,\n  "id" TEXT,\n  "member_id" REAL,\n  "loan_amnt" REAL,\n  "funded_amnt" REAL,\n  "funded_amnt_inv" REAL,\n  "term" TEXT,\n  "int_rate" TEXT,\n  "installment" REAL,\n  "grade" TEXT,\n  "sub_grade" TEXT,\n  "emp_title" TEXT,\n  "emp_length" TEXT,\n  "home_ownership" TEXT,\n  "annual_inc" REAL,\n  "verification_status" TEXT,\n  "issue_d" TEXT,\n  "loan_status" TEXT,\n  "pymnt_plan" TEXT,\n  "url" REAL,\n  "desc" TEXT,\n  "purpose" TEXT,\n  "title" TEXT,\n  "zip_code" TEXT,\n  "addr_state" TEXT,\n  "dti" REAL,\n  "delinq_2yrs" REAL,\n  "earliest_cr_line" TEXT,\n  "inq_last_6mths" REAL,\n  "mths_since_last_delinq" REAL,\n  "mths_since_last_record" REAL,\n  "open_acc" REAL,\n  "pub_rec" REAL,\n  "revol_bal" REAL,\n  "revol_util" TEXT,\n  "total_acc" REAL,\n  "initial_list_status" TEXT,\n  "out_prncp" REAL,\n  "out_prncp_inv" REAL,\n  "total_pymnt" REAL,\n  "total_pymnt_inv" REAL,\n  "total_rec_prncp" REAL,\n  "total_rec_int" REAL,\n  "total_rec_late_fee" REAL,\n  "recoveries" REAL,\n  "collection_recovery_fee" REAL,\n  "last_pymnt_d" TEXT,\n  "last_pymnt_amnt" REAL,\n  "next_pymnt_d" TEXT,\n  "last_credit_pull_d" TEXT,\n  "collections_12_mths_ex_med" REAL,\n  "mths_since_last_major_derog" REAL,\n  "policy_code" REAL,\n  "application_type" TEXT,\n  "annual_inc_joint" REAL,\n  "dti_joint" REAL,\n  "verification_status_joint" REAL,\n  "acc_now_delinq" REAL,\n  "tot_coll_amt" REAL,\n  "tot_cur_bal" REAL,\n  "open_acc_6m" REAL,\n  "open_act_il" REAL,\n  "open_il_12m" REAL,\n  "open_il_24m" REAL,\n  "mths_since_rcnt_il" REAL,\n  "total_bal_il" REAL,\n  "il_util" REAL,\n  "open_rv_12m" REAL,\n  "open_rv_24m" REAL,\n  "max_bal_bc" REAL,\n  "all_util" REAL,\n  "total_rev_hi_lim" REAL,\n  "inq_fi" REAL,\n  "total_cu_tl" REAL,\n  "inq_last_12m" REAL,\n  "acc_open_past_24mths" REAL,\n  "avg_cur_bal" REAL,\n  "bc_open_to_buy" REAL,\n  "bc_util" REAL,\n  "chargeoff_within_12_mths" REAL,\n  "delinq_amnt" REAL,\n  "mo_sin_old_il_acct" REAL,\n  "mo_sin_old_rev_tl_op" REAL,\n  "mo_sin_rcnt_rev_tl_op" REAL,\n  "mo_sin_rcnt_tl" REAL,\n  "mort_acc" REAL,\n  "mths_since_recent_bc" REAL,\n  "mths_since_recent_bc_dlq" REAL,\n  "mths_since_recent_inq" REAL,\n  "mths_since_recent_revol_delinq" REAL,\n  "num_accts_ever_120_pd" REAL,\n  "num_actv_bc_tl" REAL,\n  "num_actv_rev_tl" REAL,\n  "num_bc_sats" REAL,\n  "num_bc_tl" REAL,\n  "num_il_tl" REAL,\n  "num_op_rev_tl" REAL,\n  "num_rev_accts" REAL,\n  "num_rev_tl_bal_gt_0" REAL,\n  "num_sats" REAL,\n  "num_tl_120dpd_2m" REAL,\n  "num_tl_30dpd" REAL,\n  "num_tl_90g_dpd_24m" REAL,\n  "num_tl_op_past_12m" REAL,\n  "pct_tl_nvr_dlq" REAL,\n  "percent_bc_gt_75" REAL,\n  "pub_rec_bankruptcies" REAL,\n  "tax_liens" REAL,\n  "tot_hi_cred_lim" REAL,\n  "total_bal_ex_mort" REAL,\n  "total_bc_limit" REAL,\n  "total_il_high_credit_limit" REAL,\n  "revol_bal_joint" REAL,\n  "sec_app_earliest_cr_line" REAL,\n  "sec_app_inq_last_6mths" REAL,\n  "sec_app_mort_acc" REAL,\n  "sec_app_open_acc" REAL,\n  "sec_app_revol_util" REAL,\n  "sec_app_open_act_il" REAL,\n  "sec_app_num_rev_accts" REAL,\n  "sec_app_chargeoff_within_12_mths" REAL,\n  "sec_app_collections_12_mths_ex_med" REAL,\n  "sec_app_mths_since_last_major_derog" REAL,\n  "hardship_flag" TEXT,\n  "hardship_type" REAL,\n  "hardship_reason" REAL,\n  "hardship_status" REAL,\n  "deferral_term" REAL,\n  "hardship_amount" REAL,\n  "hardship_start_date" REAL,\n  "hardship_end_date" REAL,\n  "payment_plan_start_date" REAL,\n  "hardship_length" REAL,\n  "hardship_dpd" REAL,\n  "hardship_loan_status" REAL,\n  "orig_projected_additional_accrued_interest" REAL,\n  "hardship_payoff_balance_amount" REAL,\n  "hardship_last_payment_amount" REAL,\n  "debt_settlement_flag" TEXT,\n  "debt_settlement_flag_date" TEXT,\n  "settlement_status" TEXT,\n  "settlement_date" TEXT,\n  "settlement_amount" REAL,\n  "settlement_percentage" REAL,\n  "settlement_term" REAL\n)'),
 ('index',
  'ix_Njau_index',
  'Njau',
  3,
  'CREATE INDEX "ix_Njau_index"ON "Njau" ("index")'),
 ('table',
  'Names',
  'Names',
  8017,
  'CREATE TABLE "Names" (\n"index" INTEGER,\n  "Names" TEXT,\n  "Age" TEXT\n)'),
 ('index',
  'ix_Names_index',
  'Names',
  8018,
  'CREATE INDEX "ix_Names_index"ON "Names" ("index")'),
 ('table',
  'Names1',
  'Names1',
  8020,
  'CREATE TABLE "Names1" (\n"index" INTEGER,\n  "Names" TEXT,\n  "Age" TEXT,\n  "Gender" TEXT\n)'),
 ('index',
  'ix_Names1_index',
  'Names1',
  8022,
  'CREATE INDEX "ix_Names1_index"ON "Names1" ("index")')]

In [45]:
conn.execute("select * from names1").fetchall()

[(0, 'John', '23', 'M'),
 (1, 'james', '78', 'F'),
 (2, 'jim', '11', 'F'),
 (3, 'jane', '10', 'M')]

In [54]:
conn.execute("select gender,AVG(age) from names1 group by gender ORDER BY AVG(age) DESC").fetchall()

[('F', 44.5), ('M', 16.5)]